# Node modules
node_modules/

# Yarn and npm logs
yarn-error.log
npm-debug.log

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment files
.env

# IDEs and editors
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
